<nav id="primary-nav">
  <div class="nav-wrapper background-white">
    <a href="/" class="brand-logo left-margin-15"><span class="logo"><img src="/app/assets/images/box.png">blkbox</span></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li class="nav-link"><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li class="nav-link"><%= link_to "Sign in", signout_path, id: "sign_out" %></li>
        <li><a id="sign_in" href="/auth/google_oauth2" class="waves-effect waves-light btn background-green">Sign up</a></li>
      <% end %>
    </ul>
  </div>
</nav>
