<h3 class="page-title">Dashboard</h3>

<% if current_user && current_user.has_zero_organizations? %>
  <p>
    It doesn't look like you're a member of any organizations. <b>I'll walk you through how to start using blkbox.</b>
  </p>
  <%= button_to "Create Organization", new_organization_path, method: :get, class: "background-green waves-effect waves-light btn" %>
<% elsif current_user %>
  <table>
    <thead>
      <tr>
          <% if current_user.has_more_than_one_org? %>
            <th data-field="organization-name">Organizations</th>
          <% else %>
            <th data-field="organization-name">Organization</th>
          <% end %>
      </tr>
    </thead>

    <tbody>
      <% current_user.organizations.each do |org| %>
        <tr>
          <td><%= link_to org.name, organization_path(slug: org.slug) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
