/* page */
.main {
  min-height: 500px;
  margin-bottom: 50px !important;
}
.page-title {
  margin: 50px 0 20px 0;
  /*border-bottom: 1px solid #25C151;*/
}

/* nav */
.logo-icon {
  float: left;
  max-width: 50px;
  margin: 10px;
}
.nav-link a {
  background: none;
  color: #333;
  margin: 0 15px 15px 15px;
  text-transform: capitalize;
}
.success-alert {
  min-height: 30px;
  background-color: #25C151;
}
.error-alert {
  min-height: 30px;
  background-color: red;
}

/* footer */
.page-footer {
  background-color: #292929 !important;
}
.footer-copyright {
  background-color: #404040 !important;
}

/* color */
.pg-green {
  color: #25C151;
}
.logo {
  float: left;
  margin: 4px 3px;
  color: #333;
  font-weight: 600;
}
.background-green {
  background-color: #25C151 !important;
}
.background-white {
  background-color: #fff;
}

/* margin */
.left-margin-15 {
  margin-left: 15px;
}
.left-margin-0 {
  margin-left: 0px !important;
}

/* forms */
.form_error {
  color: red;
  text-transform: uppercase;
}
