<h3 class="page-title"><%= @organization.name %> Dashboard</h3>

<% if owner? %>
  <p>
    It doesn't look like you're a member of any organizations. <b>I'll walk you through how to start using blkbox.</b>
  </p>
  <%= button_to "Add a User", new_user_path, method: :get, class: "background-green waves-effect waves-light btn" %>
<% else %>
  stuff should go here for none owners
<% end %>
